body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    height: 110vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:10px;
    width: 1000px;
    height: 550px;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
}

.image-wrapper {
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    height: 270px;
    width: auto;
}

@media (max-width: 1100px) {
    body {
        height: 160vh;
    }
    .grid-layout {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 950px;
        width: 700px;
        grid-gap: 15px;
    }
}