html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
main {
  overflow: hidden;
  background-color: rgb(241, 241, 241);
  padding-bottom: 20px;
}
body {
  margin: 0;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.company-name {
  margin: 10px 0 40px 20px;
  font-size: 20px;
}

.company-name span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(151, 210, 212);
}
header {
  margin-left: 30px;
  color: orangered
}
.input-section {
  border-bottom: .75px solid rgb(218, 218, 218);
  width: 100vw;
  padding: 20px;
  margin-top: 20px;
}

.input-section label, input {
  margin: 1vh auto 0 1vw;
}

input {
  height: 30px;
  border: none;
  width: 350px;
  padding-left: 10px;
  border-radius: 5px;
}

input:focus, textarea:focus{
  outline-color: rgb(151, 210, 212);
}

label span {
  color: red
}

textarea {
  width: 100%;
  margin: 5vw;
  padding: 1vw;
  border: none;
  resize: none;
  overflow: hidden;
}
.textarea {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  color: white;
  background-color: rgba(255, 68, 0, 0.849);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  float: right;
  margin-right: 5vw
}
/* larger mobile responsive */

@media (min-width: 550px) {
  .company-name {
    margin: 15px 0 60px 30px;
    font-size: 30px;
  }

  header {
    font-size: 1.3em;
    margin-left: 10vh;
  }

  .input-section label, input {
    margin: 3vh auto 0 4vw;
    font-size: 15px;
    overflow: hidden;
  }
  
  input {
    height: 40px;
    border: none;
    width: 450px;
    overflow: hidden;

  }

  textarea {
    font-size: 15px;
    margin-left: 5vw;
  }

  button {
    margin: 5vh 10vw 0 0;
    width: 80px;
    height: 80px;
  }
} 

@media (min-width: 800px) {
  .company-name {
    margin: 15px 0 60px 30px;
    font-size: 30px;
  }

  header {
    font-size: 1.3em;
    margin-left: 11vh;
  }

  .input-section label, input {
    margin: 3vh auto 0 4vw;
    font-size: 20px;
  }
  
  input {
    height: 50px;
    border: none;
    width: 450px;
  }

  textarea {
    font-size: 20px;
    margin-left: 6vw;
  }

  button {
    margin: 5vh 10vw 100px 0;
    width: 110px;
    height: 110px;
    font-size: 25px;
  }
} 

/* Desktop Responsive */

@media (min-width: 1000px) {
  body {
    margin: 10px 200px 0px 200px;
  }
}