@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Playfair Display', serif;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 5vh;
  padding-top: 20px;
  margin: 0;
}

.navBar img {
  height: 30px;
  background-color: white;
  border-radius: 10%;
  margin-left: 40px;
  padding: 5px;
}

#handle {
  margin-left: 15px;
  color:   rgb(43, 28, 0);
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-decoration: overline;

}

.navList{
  width: 100%;
  margin-right: 5vw;
}

.navList a {
  float: right;
  margin-right: 4vw;
  padding: 5px;
  text-decoration: none;
  color: rgb(66, 43, 0);
  font-size: 18px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  transition: all .8s
}

.navList a:hover {
  transform: scale(1);
  text-decoration: overline;
  
}

.grid {
  display: grid;
  margin: 0;
  grid-template-columns: 65% 25%;
  height: 90vh;
}

.gridLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:  rgb(43, 28, 0);
  border-radius: 5% 25%;
  margin-left: 20vh;
  height: 700px;
  margin-top: 20px;
  border: 5px solid rgb(165, 107, 0);
  box-shadow: 10px 5px 20px 1px  #06131d7a;
  margin-bottom: 6vh;
}

.gridRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading, .socialHandles {
  margin-left: 5em;
}

.gridLeft h1 {
  font-size: 90px;
  font-weight: bolder;
}
.gridLeft h2 {
  margin-top: 0;
  font-size: 40px;
}
.gridLeft h3 {
  width: 55%;
  margin: 0;
  padding-top: 1em;
  font-family: 'Playfair Display', serif;
}

.socialHandles {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.socialHandles img {
  height: 40px;
  margin: 0;
}

.gridRight img {
  height:550px;
  border-radius: 15% 40%;
  box-shadow: 10px 5px 20px 1px  #06131da9;
  margin-bottom: 6vh;
  filter: contrast(120%);
  margin-right: 30vh;
}

.mainContainer {
  height: 100vh;
  margin: 0;
  background-color: rgb(224, 224, 224);
}